@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--surface-primary);
  color: var(--content-secondary);
  font-family: var(--prompt);
  font-size: var(--s);
  font-weight: var(--regular);
  line-height: 150%;
  min-height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

label,
button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: var(--prompt);
  font-size: var(--s);
}

.container {
  width: 100%;
  max-width: 40.5rem;
  padding-inline: 1rem;
  margin-inline: auto;
  @media screen and (min-width: 1200px) {
    max-width: 75rem;
  }
}
