@import url("variables.css");
@import url("base.css");

.nav__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.nav__lista--header {
  padding-top: 3.5rem;
  @media screen and (min-width: 390px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__lista--sidebar {
  margin-top: 5rem;
}

.nav__lista--menu {
  padding: 1.5rem 0;
  flex-direction: row;
  justify-content: space-around;
  gap: 0px;
  background-color: var(--surface-secondary);
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--content-secondary);
}

.nav__link--destaque {
  padding: 0.75rem 1.875rem;
  color: var(--accent-primary);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
}

.sidebar {
  padding: 2.5rem 1rem 3.5rem 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-secondary);
  border-radius: 8px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}